<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>找密码</title>
</head>
<body>
<script>
    function find(){

    }
</script>
<form th:action="@{/findpassword}" >
    <table>
        <tr class="form-item">
            <td class="form-item-title">邮箱</td>
            <td><input type="email"  th:field="*{email}" required placeholder="请输入邮箱账号"></td>
        </tr>
    </table>
</form>
<button type="button" onclick="find()"></button>
</body>
</html>